<h1>Index</h1>

<div class="well">

<% if @photos.any? %>
<% @photos.each do |photo| %>
 <li>
   <div class="card white">
     <div class="card-title">
       <%= link_to photo.title, photo_path(photo) %> <br>
          <%= time_ago_in_words(photo.created_at, :class => "test" ) %> ago
        <!-- <h5><%= photo.created_at.strftime("%m-%d-%Y")%></h5> -->
     </div>
     <div class="card-content">
    <%= link_to image_tag(photo.imgfile, :class => "photo-size"), photo_path(photo) %>
       <div class="center">
         <%= photo.details %>
       </div>
   </div>
  </div>

 </li>
 <% end %>
 <% else %>
<p>
  There are no photos
</p>
<% end %>
</div>
<br>
<div class ="bar">
</div>
<br>
<%= link_to "New photo", new_photo_path %>
