<h1>Index</h1>

<div class="well">

<% if @photos.any? %>
<% @photos.each do |photo| %>
 <li>
   <div class="card white">
     <div class="card-title">
       <%= link_to photo.title, photo_path(photo) %> <br>
        <div class="">
          <%= time_ago_in_words(photo.created_at, :class => "test" ) %> ago
      </div>
        <!-- <h5><%= photo.created_at.strftime("%m-%d-%Y")%></h5> -->
     </div>
     <div class="card-content">
    <%= image_tag photo.imgfile, :class => "photo-size" %>
     <p>
        <%= photo.details%>
     </p>
   </div>
  </div>

 </li>
 <% end %>
 <% else %>
<p>
  There are no photos
</p>
<% end %>
</div>
<br>
<div class ="bar">
</div>
<br>
<%= link_to "New photo", new_photo_path %>
