<!DOCTYPE html>
<html>
  <head>
    <title>EPICODUS Flickr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper black">

          <ul>
          <li><a href="/" class=" logo-size">Flickr</a></li>
          <% if current_user %>
          <li><%= link_to "You", photos_path, :class => 'main-links' %> </li>
          <div class="right">
            <li><%= current_user.email %></li>
            <li><%= link_to "Log-out", destroy_user_session_path, method: "delete" %></li>
          </div>
          <% else %>
            <div class="right">
              <li>  <%= link_to "Log-in", new_user_session_path %> |</li>
              <li><%= link_to "Signup", new_user_registration_path %></li>
            </div>
          <% end %>
          </ul>
        </div>
    </nav>
    <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
